imageio
matplotlib
numpy
pillow>=6.2.0
scikit-image
scipy
tensorboard==1.14.0
tensorflow-estimator==1.14.0
# PyTorch
torch
torchvision
-e git+https://github.com/SpikeAI/pytorch-msssim#egg=pytorch-msssim
# progress bars in model download and training scripts
tqdm
